$black: #000;
$blue: #00a7cd;
$white: #fff;

// Font Sizing
$scale: 1;
$h1:  #{(4.236em * $scale)};
$h2: #{(2.618em * $scale)};
$h3: #{(1.618em * $scale)};
$p: #{(1em * $scale)};
$caption: #{(.618em * $scale)};

pre {
  width: 100%;
}

code {
  height: 15em;
}

.body {
  margin: 0;
  padding: 0;
}

.btn {
  background: $white;
  border: solid $black 2px;
  color: $black;
  margin: .5em;
  padding: .5em 1em;
  text-decoration: none;

  &:hover {
    background: $black;
    color: $white;
    text-decoration: none;
  }
}

.slide {
  border-bottom: 1px solid $black;
  text-align: center;

  .slide__header {
    padding: 1.5em 2em;
    text-align: left;
    width: 100%;

    .slider__header__title {
      font-weight: 400;
    }
  }
}

.snippet {
  max-width: 100vw;
  text-align: left;
}

.slide--css__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;

  .slide--css__content__half {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 1em;
    text-align: center;
    width: calc(100% - 2em);

    .slide--css__content__half__shaq {
      height: 30%;
      margin-right: 1em;
      width: 30%;
    }

    .slide--css__content__half__shaq--css {
      animation: spin 5s linear infinite;
    }
  }

  @media (min-width: 1000px) {
    flex-direction: row;

    .slide--css__content__half {
      width: 50%;
    }
  }
}

.slide--play {
  .slide--play__content {
    width: 100%;

    .slide--play__content__batmobile {
      width: 50%;
    }

    .slide--play__content__code {
      padding: 1em;
      width: calc(100% - 2em);
    }
  }
}

.slide--finished {
  .slide--finished__content {
    padding-top: 5em;
    width: 100%;

    .slide--finished__content__leonardo {
      height: 10em;

      &.slide--finished__content__leonardo--alt {
        transform: scaleX(-1);
      }
    }

    .slide--finished__content__code {
      padding: 1em;
      width: calc(100% - 2em);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
